/*Assigned CSS variables*/
:root {
    --font-color: #112D32;
    --background-color: #bbd1d5;
    --hyperlink-color: #4F4A41;
    --white-color: #fff;
    --black-color: #000;
    --smiley-color: #E2D784;
}

/*To reset the default browser style*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Using rem for making the page responsive to screen size and browser setting*/
/*62.5% of 16-default font size=10px*/

/*Scroll behaviour smooth will make the scrolling slow and smooth */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--font-color);
    font-size: 1.7rem;
}

/****************************Header Section*******************************/

#portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    background-color: var(--background-color);
}

/*Styling The Navigation List*/

.portfolio-nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;

}

.portfolio-nav ul>li {
    margin-right: 15px;

}

.portfolio-nav a {
    text-decoration: none;
    padding: 0.3rem;
    color: var(--hyperlink-color);
    transition: border 0.3s ease-in-out;
}

.portfolio-nav a:hover {

    border-top: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
}

/************Portfolio Avatar Section*/

.avatar-section {
    background-color: var(--font-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: "Marck Script", Roboto, 'Times New Roman', Times, serif;
    color: var(--background-color);
    font-size: 2.4rem;
    padding: 1% 1%;
    text-align: center;
}

/*Portfolio Image*/

/*Applied gray scale  and other styles*/
/*Extension needed for filter added as per MDN documentation*/

#portfolio-img {
    height: 250px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(110%);

}

.avatar-section p {
    line-height: 60px;
    letter-spacing: 1px;
    text-align: center;

}

.avatar-section p>span {
    color: var(--white-color);
    text-shadow: 5px 5px 1px 1px #4F4A41;
    margin-bottom: 10px;

}

.fa-smile-o {
    color: var(--smiley-color);
}

/******Animation******/

/*Applied Bouncing animation for arrow icon by changing the position using translate
  and grayscale animation to profile image. 
*/

#portfolio-img {

    animation: animateGrayScale 4s ease-in-out 1s infinite;
}


/* .portfolio-icon {

    animation: bounceArrow 2s ease-in infinite;
} */

.slide-in-text {
    letter-spacing: 1.7px;
    color: var(--smiley-color);
    opacity: 0;
    position: relative;
    left: 0%;
    animation: slide-in 2s linear 1s forwards;
    color: var(--background-color);
}


/*This will change the color of the profile image to differnt grayscales*/

@keyframes animateGrayScale {
    25% {

        filter: grayscale(85%);
    }

    50% {
        filter: grayscale(60%);
    }

}

/*This will create an animation of text moving from left to right
changing color and opactity/visibility.
*/
@keyframes slide-in {

    20% {
        opacity: 0.3;
        left: 10%;
    }

    60% {
        opacity: 0.6;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 30%;
        color: var(--smiley-color);
    }
}

/*************************************************  About ME Section***********************************/


#about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 6% 3%;
}

/*This is to create the line between about me text and  about info*/

.center-div {
    width: 0.2%;
    background-color: var(--font-color);
    border: 1px solid var(--background-color);

}

.center-about {
    height: 22rem;
}


.right-div-about {
    display: flex;
    flex: 0 0 60%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: justify
}
.right-div-about p{
    margin-bottom: 1%;
    line-height: 22px;
    letter-spacing: 0.7px;
}
.fa-heart{
    color:#ff0000;
}

/************************************************* Work Section*****************************************/


#work-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 3%;

}

.left-div {

    flex: 0.5 0 10%;

}

.left-div p {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
}

/*This is to create the line between work  text and  project info*/

.center-work {
    height: 103rem;
}

.right-div {
    flex: 0 0 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}


/*Project div styling*/

#main-project {
    position: relative;
    flex: 1 0 100%;
}

#main-project img {

    width: 100%;
    height: 400px;
}


#project-1,
#project-2,
#project-3,
#project-4 {
    flex: 1 0 50%;
    position: relative;
    border: 1px solid var(--font-color);
}


.project-images {
    display: block;
    width: 100%;
    height: 300px;

}


.project-lang {
    width: auto;
    height: 10%;
    background-color: var(--background-color);
    color: var(--white-color);
    padding: 5px 3px;
    border:1px solid var(--hyperlink-color);
    border-radius: 3%;
    position: absolute;
    bottom: 1px;
    left: 0;
   
}

/****************************Contact Me Section****************/


#contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
}

#portfolio-footer,
#portfolio-footer a {
    background-color: var(--background-color);
    color: var(--font-color);
    text-decoration: none;
}

#portfolio-footer i {
    font-size: 2rem;
}

#contact-section {
    display: flex;
}


/*This is to create the line between contact me text and  contact info*/

.center-footer {
    height: 6rem;
}

.right-div-footer {
    display: flex;
    flex: 0 0 60%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/**********Media Queries****************/

/*Adjusted font size for body and portfolio header*/

@media screen and (max-width: 992px) {

    body {

        font-size: 1.9rem;
    }

    #portfolio-header {
        padding: 4% 1%;
    }

    #portfolio-header h1 {
        font-size: 3rem;
    }
    .center-about {
        height: 45rem;
    }

    #about-section p{
        
        padding: 2% 3%;
    }

}


/*************** Large smartphones **************/
@media screen and (max-width: 768px) {

    body {

        font-size: 1.8rem;
    }

    #portfolio-header {
        padding: 6% 1%;
    }

    #portfolio-header h1 {
        font-size: 1.9rem;
    }

    .portfolio-nav {

        font-size: 1.4rem;
    }

    /*Adjusted font size of font and portfolio image height  */

    .avatar-section {
        font-size: 2.3rem;
    }


    #portfolio-img {
        height: 218px
    }

    .avatar-section p {
        line-height: 40px;
        letter-spacing: 0.1rem;
    }


    /*Adjusted font size and height of the center division(line)*/

    .left-div p {
        font-size: 2.8rem;
    }

    .center-about {
        height: 54rem;
    }

    #about-section p{
        
        padding: 3% 3%;
    }

}



/********** Small smartphones*************/

@media screen and (max-width: 576px) {

    body {

        font-size: 1.4rem;
    }

    /* Reduced Padding and Font Size*/

    #portfolio-header {
        padding: 5% 2%;
        font-size: 1.2rem;
    }

    #portfolio-header h1 {
        font-size: 1.4rem;
    }


    .avatar-section {
        font-size: 2rem;
    }


    #portfolio-img {
        height: 180px;

    }

    .avatar-section p {
        line-height: 40px;
        letter-spacing: 0.1rem;
    }


    /*Reduced the left header sizes -about me,work,contact me*/

    .left-div p {
        font-size: 2.3rem;
    }

    .center-about {
        height: 52rem;
    }

    #about-section p{
        
        padding: 4% 3%;
    }

    /*Work Section-Reduced the padding,image heights*/

    #work-section {
        padding: 1%;

    }

    .center-work {
        height: 65rem;
    }


    #main-project img {

        height: 220px;
    }

    .project-images {
        height: 180px;

    }

    .project-lang {
        padding: 2px 0;
    }

    /*Reducing the icon font size*/

    #portfolio-footer i {
        font-size: 1.4rem;
    }

}

@media screen and (max-width: 450px) {

    .center-about {
        height: 58rem;
    }

    #portfolio-img {
        height: 140px;

    }
    
}